.hero-image {
  background-image: url(https://images.unsplash.com/photo-1581606588715-a4735b758c18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);

  height: 35vh;
  background-size: cover;
  background-position: top;
}

.map-image {
  background-image: url(https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);

  min-height: 25vh;
  background-size: cover;
  background-position: center;
}